<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken GAME!</h1>
  <div th:if="${entry}">
    エントリー
    <ul>
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>

    <p>[[${name}]]</p>

    <p th:if="${AlluserName}">
      <h2>エントリー</h2>
    <div th:each="user,stat:${AlluserName}">
      <ul>
    <tr>
      <li><td>[[${user.name}]]</td></li>
    </tr>
    </ul>
  </div>
  </p>

  <p th:if="${AllResults}">
  <h2>試合結果</h2>
  <div th:each="results,stat:${AllResults}">
      <tr>
          <td>id:[[${results.id}]]</td>
          <td>user1:[[${results.user1}]]</td>
          <td>user2:[[${results.user2}]]</td>
          <td>user1の手:[[${results.user1Hand}]]</td>
          <td>user2の手:[[${results.user2Hand}]]</td>
      </tr>
  </div>
  </p>

</body>

</html>
