<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>match</title>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Match</h1>

  <p th:if="${User}">
  <div th:each="user,stat:${User}">
    <tr>
      <h1>[[${name}]] V.S. [[${user.name}]]</h1>
    </tr>
  </div>

  </p>

  <div th:each="user : ${User}">
    <a th:href="@{/fight?myHand=Gu&(id=${user.id})}">ぐー</a>
    <a th:href="@{/fight?myHand=Choki&(id=${user.id})}">ちょき</a>
    <a th:href="@{/fight?myHand=Pa&(id=${user.id})}">ぱー</a>
  </div>

  <p th:if="${reslut}">
    <p>[[${myHand}]]</p>
    <p>[[${cpuHand}]]</p>
    <p>[[${result}]]</p>

  </p>

  <a href="/janken">もどる</a>
</body>
